<h1>Holdings</h1>
<p>
{% if holding_list %}
<ul>
  {% for holding in holding_list %}
    {% if holding.owner == user %}
     <li>
        <p>{{ holding.name }} | {{ holding.ticker }} | {{ holding.amt }} | {{ holding.value }}</p>
        <a href="{% url 'holdings:holding_update' holding.id %}">Edit</a>
        <a href="{% url 'holdings:holding_delete' holding.id %}">Delete</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
{% else %}
  <p>You currently have no holdings saved.</p>
{% endif %}
</p>
<h3>Total portfolio value: {{ total_value }}</h3>
<p>
<a href="{% url 'holdings:holding_create' %}">Add a holding</a>  |
{% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'holdings:all' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'holdings:all' %}">Login</a>
{% endif %}
</p>