{% extends 'base.html'%}
{% block content %}
<h1>Holdings</h1>
<p>
{% if holding_list %}
{% for holding in holding_list %}
{% if holding.owner == user %}
<div class="inner-wrapper">
    <div class="stock-data">
        <table>
            <tr>
                <td>Name</td><td>Ticker</td><td>Amount</td><td>Price</td><td style="font-weight: bold;">Value</td>
            </tr>
            <tr>
                <td>{{ holding.name }}</td>
                <td>{{ holding.ticker }}</td>
                <td>{{ holding.amt.normalize }}</td>
                <td><div id="{{ holding.ticker }}">{{ holding.price }}</div></td>
                <td style="font-weight: bold;">
                    <div id="{{ holding.ticker }}2">{{ holding.value }}</div>
                </td>
            </tr>
        </table>
    </div>
<!--<p>{{ holding.name }} | {{ holding.ticker }} | {{ holding.amt.normalize }} | {{ holding.value }}</p>-->
    <div class="stock-buttons">
        <a href="{% url 'holdings:holding_update' holding.id %}">Update amount</a>
        <a href="{% url 'holdings:holding_delete' holding.id %}">Delete holding</a>
    </div>
</div>
{% endif %}
{% endfor %}

{% else %}
  <p>You currently have no holdings saved.</p>
{% endif %}
</p>

    <h3>Total portfolio value: <div id="totalValue" style="display: inline">${{ total_value }}</div>
    <form style="display: inline">
        <select id="currency" onchange="selectCurrency()">
            <option>USD</option>
            {% for currency in currency_names %}
            {% if currency != 'USD' %}
            <option>{{ currency }}</option>
            {% endif %}
            {% endfor %}
        </select>
        </form>
    </h3>
<p>Last updated: {{ last_updated }}</p>

<p>
<a href="{% url 'holdings:holding_update_all' %}">Update prices</a>  |
<a href="{% url 'holdings:holding_create' %}">Add a holding</a>  |
    <a href="{% url 'holdings:rate_create' %}">Add currency</a>  |
{% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'holdings:all' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'holdings:all' %}">Login</a>
{% endif %}
</p>
<script>
    function selectCurrency() {
    let total = {{ total_value }};

    let exchange_rates = {{ exchange_rates }};
    let currency_names = {{ currency_names|safe }};
    let rates_count = {{ rates_count }};
    let symbols = {{ symbols|safe }};
    let holdings = {{ holdings_names|safe }};
    let holdings_usd_val = {{ holdings_vals }};
    let holdings_price = {{ holdings_price }}

    for(let i=0; i<rates_count; i++){
        if(currency_names[i] === document.getElementById('currency').value){
            if(symbols[i] !== 'None'){
                console.log(symbols[i]);
                document.getElementById('totalValue').innerHTML = symbols[i] + String((total * exchange_rates[i]).toFixed(2));
            } else {
                document.getElementById('totalValue').innerHTML = String((total * exchange_rates[i]).toFixed(2));
            }
            for(let j = 0; j < holdings.length; j++){
                document.getElementById(holdings[j]).innerHTML = String((holdings_price[j] * exchange_rates[i]).toFixed(2));
                document.getElementById(holdings[j]+'2').innerHTML = String((holdings_usd_val[j] * exchange_rates[i]).toFixed(2));
            }
        }
    }

}
</script>
{% endblock %}