{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<h1>Add holding</h1>
<p>
  We use yahoo finance for our data. Search for a stock at
  <a href="https://finance.yahoo.com/" target="_blank">https://finance.yahoo.com/</a>
  to get the appropriate ticker.
</p>
{% if not_found %}
<p>No data was found for this holding. Please ensure the ticker is correct.</p>
{% endif %}
<p>
  <form action="" method="post" id="upload_form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit">
    <input type="submit" value="Cancel" onclick="window.location.href='{% url 'holdings:all' %}';return false;">
  </form>
</p>
{% endblock %}