@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

body {
    background-color: #5584AC;
    font: inherit;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.outer-wrapper {
    background-color: #F6F2D4;
    border-radius: 25px;
    height: fit-content;
    margin: 60px auto 0px auto;
    max-width: 500px;
    padding: 0px 0px 20px 0px;
    text-align: center;
    width: 80%;
}

.inner-wrapper {
    background-color: #ededed;
    border: solid;
    border-radius: 25px;
    height: fit-content;
    margin: 20px auto 20px auto;
    padding: 20px;
    text-align: center;
    width: 80%;
}

.stock-data {
    display: inline-block;
}

.stock-buttons {
    display: block;
}

td {
    padding: 3px;
}

a {
    color: inherit;
    text-decorations: none;
}

.holding-list {
    margin: 0px 30px 0px 0px;
}